books.dtd

<!ELEMENT bookstore (book*)>

<!ELEMENT book (title, author+, year, price)>

<!ATTLIST book 
		category	CDATA	#REQUIRED
		cover	(hardback|paperback)	#IMPLIED
>

<!ELEMENT title (#PCDATA)>
<!--строка для задания номер 6: 

<!ATTLIST title lang CDATA #REQUIRED>

-->

<!ATTLIST title lang CDATA "en">

<!ELEMENT author (#PCDATA)>

<!ELEMENT year (#PCDATA)>

<!ELEMENT price (#PCDATA)>
